@charset "UTF-8";
* {
  font-family: Arial;
  margin: 0%;
}
.ventana-cookie {
  background: rgba(33, 41, 52, 0.698);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.ventana-cookie .content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}

.content-buttons {
  text-align: center;
  margin-top: 1rem;
}

#boton-cerrar{
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 100px;
  height: 35px;
  font-size: 15px;
}
nav {
  background-color: #333333;
  height: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
nav ul #botonNav:hover{
    border-top: 2px solid red;
    
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  color: #F3F3F3;
  width: 20%;
  margin-left: 20%;
}

main {
  height: 85vh;
  min-height: calc(100vh - (5vh + 71px));
}

#enlaces {
  width: 50%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* #enlaces ul {
  list-style: none;
  width: 50%;
  height: 50%;
}

#enlaces ul li {
  margin-top: 5%;
}

#enlaces ul li a {
  text-decoration: none;
  color: #0066CC;
}

#enlaces ul li a:hover {
  text-decoration: underline;
} */

.volver{
  background-color: transparent;
  color: #0066CC;
  border: none;
  width: 111%;
  text-align: center;
  font-size: 15px;
  padding-left: 12%;
}

#inicioSesion {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inicioSesion form {
  width: 30%;
  height: 30%;
}

#inicioSesion form h3 {
  font-size: 25px;
}

#inicioSesion form .enviar {

  background-color: red;
  color: black;

  font-size: 15px;
}

#inicioSesion form .campos {
  border: 1px solid red;
  font-size: 15px;
}

#inicioSesion form input {
  width: 100%;
}

footer {
  background-color: black;
  height: 10vh;
  position:fixed;
  bottom:0;
}

footer table {
  text-align: left;
  width: 100%;
}

footer table tr td {
  padding-left: 9%;
}

footer table tr td a {
  text-decoration: none;
  color: #6B6B6E;
  font-size: 15px;
}

footer table tr td a:hover {
  text-decoration: underline;
}

footer table tr .derechos {

  color: red;
  font-size: small;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 50%;
  right: 33%;
  width: 100%;
  text-align: center;
}
