
* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    max-width: 100vw;
    max-height: 100vh;
}

body {
    width: 100%;
    margin: 0px;
}

/* -------- HEADER -------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #a85c82;
    height: 50px;
    font-family: 'Courier New';
}

header > h1 {
    margin: auto 10px;
    text-align: center;
    font-size: 45px;
}

.github>img{
    width: 40px;
}

/* -------- MAIN -------- */

main {
    min-height: calc(100vh - 140px);
    margin: 20px; 
    font-family: 'Courier New';
}
/* -------- FOOTER -------- */

footer {
    height: 50px;
    text-align: center;
    background-color:#a85c82;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Courier New';
    width: 100vw;
}
footer > address {
    font-size: 20px;
    padding: 10px 10px;

}
footer a{
    text-decoration: none;
    color: black;
}

