@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

.posicionar{
  min-height: 100vh;
  position: relative;
}

nav {
  background-color: #333333;
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  color: #F3F3F3;
  width: 20%;
  margin-left: 20%;
}

nav ul #logo {
  font-weight: bold;
}

main {
  min-height: 85vh;
  height: auto;
}

#enlaces {
  width: 50%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#enlaces ul {
  list-style: none;
  width: 50%;
  height: 50%;
}

#enlaces ul li {
  margin-top: 5%;
}

#enlaces ul li a {
  text-decoration: none;
  color: #0066CC;
}

#enlaces ul li a:hover {
  text-decoration: underline;
}

#inicioSesion {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inicioSesion form {
  width: 50%;
  height: 50%;
}

#inicioSesion form h3 {
  font-size: 25px;
}

#inicioSesion form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 4%;
  width: 111%;
  font-size: 15px;
}

#inicioSesion form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 4%;
  width: 102%;
  font-size: 15px;
}

#inicioSesion form input {
  width: 100%;
}

footer {
  background-color: #F5F5F7;
  height: 10vh;
  position: absolute;
  bottom: -10vh;
  width: 100%;
}

footer table {
  text-align: left;
  width: 100%;
}

footer table tr td {
  padding-left: 9%;
}

footer table tr td a {
  text-decoration: none;
  color: #6B6B6E;
  font-size: 15px;
}

footer table tr td a:hover {
  text-decoration: underline;
}

footer table tr .derechos {
  color: #6B6B6E;
  font-style: italic;
  font-size: small;
}

.mainRegistro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

#registro form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  height: 45%;
}

#registro form h3 {
  font-size: 25px;
}

#registro form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

#registro form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

#registro form input {
  width: 100%;
}

.navInicio {
  background-color: #333333;
  height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navInicio .logoInicio {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  color: #F3F3F3;
  width: 20%;
  margin-left: 20%;
}

.navInicio .logoInicio #logo {
  font-weight: bold;
}

.navInicio .forNavInicio {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navInicio .forNavInicio .botonNav {
  background-color: transparent;
  margin-right: 5%;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  border: none;
}

.mainInicio #imagen {
  width: 35%;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainInicio #inicio {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainInicio #inicio h1 {
  font-weight: lighter;
  font-size: 50px;
}

.mainInicio #inicio p {
  font-weight: lighter;
  font-size: 35px;
}

.mainEditarPerfil #editarPerfil {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainEditarPerfil #editarPerfil form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainEditarPerfil #editarPerfil form h3 {
  font-size: 25px;
}

.mainEditarPerfil #editarPerfil form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainEditarPerfil #editarPerfil form .cambiarPassword {
  background-color: transparent;
  color: #0066CC;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainEditarPerfil #editarPerfil form .cambiarPassword:hover {
  text-decoration: underline;
}

.mainEditarPerfil #editarPerfil form .eliminarCuenta {
  background-color: transparent;
  color: #F05269;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainEditarPerfil #editarPerfil form .eliminarCuenta:hover {
  text-decoration: underline;
}

.mainEditarPerfil #editarPerfil form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainEditarPerfil #editarPerfil form input {
  width: 100%;
}

.mainCambiarPassword #cambiarPassword {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCambiarPassword #cambiarPassword form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainCambiarPassword #cambiarPassword form h3 {
  font-size: 25px;
}

.mainCambiarPassword #cambiarPassword form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainCambiarPassword #cambiarPassword form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainCambiarPassword #cambiarPassword form input {
  width: 100%;
}

.mainEliminarCuenta #eliminarCuenta {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainEliminarCuenta #eliminarCuenta form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainEliminarCuenta #eliminarCuenta form h3 {
  font-size: 25px;
}

.mainEliminarCuenta #eliminarCuenta form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainEliminarCuenta #eliminarCuenta form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainEliminarCuenta #eliminarCuenta form .eliminarCuenta {
  background-color: transparent;
  color: #F05269;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainEliminarCuenta #eliminarCuenta form .eliminarCuenta:hover {
  text-decoration: underline;
}

.mainEliminarCuenta #eliminarCuenta form input {
  width: 100%;
}

.mainMtoDepartamentos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.mainMtoDepartamentos #busqueda {
  height: 20%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 10px;
}

.mainMtoDepartamentos #busqueda .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 62%;
  font-size: 15px;
}

.mainMtoDepartamentos #busqueda .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1%;
  width: 30%;
  font-size: 15px;
}

.mainMtoDepartamentos #resultadoBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 65%;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioCampos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioCampos table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-left: 5%;
  margin-right: 5%;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioCampos table .campoDescripcion {
  min-width: 300px;
  max-width: 300px;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioCampos table .campoCod {
  min-width: 70px;
  max-width: 70px;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioCampos table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioCampos table tbody td button {
  background-color: transparent;
  border: none;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioPaginacion table tr td {
  max-width: 65px;
  min-width: 65px;
  text-align: center;
}

.mainMtoDepartamentos #resultadoBusqueda #formularioPaginacion table tr td button {
  background-color: transparent;
  border: none;
}

.mainMtoDepartamentos #volver {
  height: 5%;
  margin-left: 5%;
}

.mainMtoDepartamentos #volver form {
  width: 25%;
}

.mainMtoDepartamentos #volver form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  width: 70px;
  font-size: 15px;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form h3 {
  font-size: 25px;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form .vNegocio {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 10%;
  font-size: 15px;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form .codigoDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 15%;
  font-size: 15px;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form .fechaDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 35%;
  font-size: 15px;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainConsultarEditarDepartamento #consultarEditarDepartamento form input {
  width: 100%;
}

.mainEliminarDepartamento #eliminarDepartamento {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainEliminarDepartamento #eliminarDepartamento form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainEliminarDepartamento #eliminarDepartamento form h3 {
  font-size: 25px;
}

.mainEliminarDepartamento #eliminarDepartamento form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainEliminarDepartamento #eliminarDepartamento form .vNegocio {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 10%;
  font-size: 15px;
}

.mainEliminarDepartamento #eliminarDepartamento form .codigoDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 15%;
  font-size: 15px;
}

.mainEliminarDepartamento #eliminarDepartamento form .fechaDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 35%;
  font-size: 15px;
}

.mainEliminarDepartamento #eliminarDepartamento form .eliminar {
  background-color: transparent;
  color: #F05269;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainEliminarDepartamento #eliminarDepartamento form .eliminar:hover {
  text-decoration: underline;
}

.mainEliminarDepartamento #eliminarDepartamento form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainEliminarDepartamento #eliminarDepartamento form input {
  width: 100%;
}

.mainAñadirDepartamento #añadirDepartamento {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainAñadirDepartamento #añadirDepartamento form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainAñadirDepartamento #añadirDepartamento form h3 {
  font-size: 25px;
}

.mainAñadirDepartamento #añadirDepartamento form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainAñadirDepartamento #añadirDepartamento form .eliminar {
  background-color: transparent;
  color: #F05269;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainAñadirDepartamento #añadirDepartamento form .eliminar:hover {
  text-decoration: underline;
}

.mainAñadirDepartamento #añadirDepartamento form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainAñadirDepartamento #añadirDepartamento form input {
  width: 100%;
}

.mainImportarDepartamentos #importarDepartamentos {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainImportarDepartamentos #importarDepartamentos form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainImportarDepartamentos #importarDepartamentos form h3 {
  font-size: 25px;
}

.mainImportarDepartamentos #importarDepartamentos form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainImportarDepartamentos #importarDepartamentos form .eliminar {
  background-color: transparent;
  color: #F05269;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainImportarDepartamentos #importarDepartamentos form .eliminar:hover {
  text-decoration: underline;
}

.mainImportarDepartamentos #importarDepartamentos form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainImportarDepartamentos #importarDepartamentos form input {
  width: 100%;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form h3 {
  font-size: 25px;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form .eliminar {
  background-color: transparent;
  color: #F05269;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form .eliminar:hover {
  text-decoration: underline;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form .vNegocio {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 10%;
  font-size: 15px;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form .codigoDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 15%;
  font-size: 15px;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form .fechaDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 35%;
  font-size: 15px;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainBajaLogicaDepartamento #bajaLogicaDepartamento form input {
  width: 100%;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 45%;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form h3 {
  font-size: 25px;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form .enviar {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form .eliminar {
  background-color: transparent;
  color: #F05269;
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 105%;
  font-size: 15px;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form .eliminar:hover {
  text-decoration: underline;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form .vNegocio {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 10%;
  font-size: 15px;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form .codigoDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 15%;
  font-size: 15px;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form .fechaDep {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 35%;
  font-size: 15px;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form .campos {
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 15px;
}

.mainRehabilitarDepartamento #rehabilitarDepartamento form input {
  width: 100%;
}

.mainWIP {
  height: 85vh;
}

.mainWIP #texto {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
  float: left;
}

.mainWIP #texto form input {
  background-color: #0066CC;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 60px;
  height: 30px;
  font-size: 15px;
}

.mainWIP #gif {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=estilo.css.map */