@charset "UTF-8";
* {
    font-family: Arial;
    margin: 0;
}
.contenedorNav{
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;max-height: 100%;

}
.imagenesNav{
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center

}
.fotoNav{
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    text-decoration: none;
    color: black;
}
.fotoNav img{
    top: -10px;
    left: -10px;
    width: 50%;
    opacity: 40%;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.fotoNav p{
    width: 50%;
    text-align: center;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color:red;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -32px;
    padding:  16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: black;
    color: white;
}

.navInicio {
    background-color: black;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navInicio .logoInicio {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    color: #9b0e0e;
    width: 20%;
    margin-left: 10%;
}

.navInicio .logoInicio #logo {
    font-weight: bold;
    color:#9b0e0e;
}

.navInicio .forNavInicio {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.navInicio .forNavInicio .botonNav {
    background-color: transparent;
    margin-right: 5%;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    border: none;

}

.navInicio .forNavInicio .botonNav:hover{
    border-top: 2px solid #9b0e0e;
    padding:10px;
}

main {
    height: 85vh;
    min-height: calc(100vh - (5vh + 71px));
}


.volver{
    background-color: transparent;
    color: #0066CC;
    border: none;
    width: 111%;
    text-align: center;
    font-size: 15px;
    padding-left: 12%;
}

#inicioSesion {
    width: 50%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#inicioSesion form {
    width: 30%;
    height: 30%;
}

#inicioSesion form h3 {
    font-size: 25px;
}

#inicioSesion form .enviar {

    background-color: #9b0e0e;
    color: black;

    font-size: 15px;
}

.enviar {

    background-color:#9b0e0e;
    color: black;

    font-size: 15px;
}

#inicioSesion form .campos {
    border: 1px solid #9b0e0e;
    font-size: 15px;
}

#inicioSesion form input {
    width: 100%;
}

.imagenPerfil{
    display: flex;
    align-items: right;
    width:40px;
}

.formulario-rest{
    display: flex;
    justify-content: center;
    align-content: center;

}
.formulario-rest{
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.mainRest #rest{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
#inasa{
    font-size:15px;
    width: 500px;
    
}

#elefante{
    font-size:15px;
    width:500px;
}  

.titulo{
    background-color: black;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:red;
    width: 100%;
        padding-left: 70px;
  }
   .volver{
    text-decoration: none;
    padding: 40px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: black;
    background-color: #9b0e0e;
  }
  .volver:hover{
    color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
  }

.h3detalle{
    padding: 6px;
    background-color: #D35D5D;
    border-radius: 50px 50px 50px 50px;
}

.h3detalle+div{
    margin-left: 10%;
    font-family: 'Comfortaa', cursive;
}


footer {
    background-color: black;
    width: 100%;
    top:100%;
    display: flex; 
    align-self: flex-end;
    text-decoration: none;
    justify-content: space-around;
    align-items: flex-start;

}

footer table tr td a {
    text-decoration: none;
    color:white;
    font-size: 15px;
    background-color: transparent;
     
}

footer table tr td .botonNav{
    outline: none;
  border: none;
  background-color: transparent;
}


/* Caption text */
.text {
    color: black;
    font-size: 15px;
    /* padding: 8px 12px; */
    position: absolute;
    bottom: 50%;
    right: 33%;
    width: 100%;
    text-align: center;
}


/*DEPARTAMENTOS*/

#main-mtoDepartamentos {
    display: flex;
    flex-direction: column;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador {
    display: flex;
    width: min-content;
    align-items: center;
    justify-content:center;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .input-field-container {
    position: relative;
    width: min-content;
    height: min-content;
    margin: 10px 20px 10px 0px;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .input-field-container label {
    position: absolute;
    font-size: 1.2rem;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
    height: 40px;
    padding-top: 15px;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid red;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .input-field-container input:focus ~ label,
#main-mtoDepartamentos #form-mtoDepartamentos-buscador .input-field-container input:valid ~ label,
#main-mtoDepartamentos #form-mtoDepartamentos-buscador .input-field-container input:read-only ~ label {
    font-size: 14px;
    transform: translateY(-19px);
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .select-field-container {
    min-width: min-content;
    position: relative;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .select-field-container label {
    position: absolute;
    right: 15px;
    font-size: 14px;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .select-field-container select {
    min-width: 210px;
    width: min-content;
    padding: 15px 20px 3px 15px;
    outline: none;
    margin-left: 0px;
    border: none;
    border-bottom: 3px solid grey;
    border-radius: 10px;
    font-size: 1rem;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .select-field-container select:focus {
    background-color: #dbdbdb;
    border-color: #9b0e0e;
}

#main-mtoDepartamentos #form-mtoDepartamentos-buscador .form-button {
    display: block;
    max-width: min-content;
    max-height: min-content;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

#main-mtoDepartamentos #container-departamentos {
    align-self: center;
    min-width: min-content;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos {
    border: 3px solid white;
    border-radius: 10px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos {
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    border-collapse: collapse;
    min-width: calc(100vw - 200px);
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos thead th {
    padding: 10px 15px 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: left;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos tbody tr:nth-child(n) {
    border-top: 1px solid white;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos tbody tr.baja td {
    color: #d43500;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos tbody tr.alta td {
    color: #00d455;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos tbody tr td:last-child {
    width: 120px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos tbody tr td {
    padding: 0px 0px 0px 10px;
    font-size: 1rem;
    color: #c7c7c7;
    height: 50px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos tbody tr td button img {
    width: 30px;
    height: 34px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos #table-departamentos #busqueda-no-encontrada {
    min-width: calc(100vw - 200px);
    color: red;
    text-align: center;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion {
    display: grid;
    align-items: center;
    margin-top: 10px;
    grid-template-columns: 1fr 205px 1fr;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion #paginacion-container {
    display: flex;
    position: relative;
    height: 38px;
    width: 205px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion #paginacion-container :nth-child(1) {
    position: absolute;
    left: 0px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion #paginacion-container :nth-child(2) {
    position: absolute;
    left: 30px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion #paginacion-container :nth-child(3) {
    position: absolute;
    left: 80px;
    top: 11px;
    width: 50px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion #paginacion-container :nth-child(4) {
    position: absolute;
    left: 130px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion #paginacion-container :nth-child(5) {
    position: absolute;
    left: 160px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion #paginacion-container span {
    margin: auto;
    font-weight: bold;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion div {
    max-width: max-content;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion div:first-child button:first-child {
    margin-right: 20px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion div img {
    width: 40px;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion div:nth-child(3) {
    justify-self: flex-end;
}

#main-mtoDepartamentos #container-departamentos #form-mtoDepartamentos-paginacion .form-button {
    width: min-content;
    max-height: min-content;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

#main-consultarModificarDepartamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-consultarModificarDepartamento .form-container {
    display: block;
    min-width: max-content;
    min-height: min-content;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 50px;
}

#main-consultarModificarDepartamento .form-container header {
    color: white;
}

#main-consultarModificarDepartamento .form-container > header > h2 {
    font-size: 2rem;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container {
    position: relative;
    width: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid orange;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input:focus ~ label,
#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input:valid ~ label,
#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input:read-only ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input:read-only,
#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input:read-only ~ label {
    color: #c4c4c4;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input:read-only {
    background-color: #393939;
    border-bottom: 3px solid #6a6865;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input[type="date"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input[type="file"] {
    padding-top: 25px;
    font-size: 0.7rem;
    background-color: white;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input[type="file"],
#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input[type="file"] ~ label {
    color: black;
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .input-field-container input[type="file"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-consultarModificarDepartamento .form-container #form-consultarModificarDepartamento .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-consultarModificarDepartamento .form-container #form-buttons .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-altaDepartamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-altaDepartamento .form-container {
    display: block;
    min-width: max-content;
    min-height: min-content;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 50px;
}

#main-altaDepartamento .form-container header {
    color: white;
}

#main-altaDepartamento .form-container > header > h2 {
    font-size: 2rem;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container {
    position: relative;
    width: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid red;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input:focus ~ label,
#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input:valid ~ label,
#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input:read-only ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input:read-only,
#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input:read-only ~ label {
    color: #c4c4c4;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input:read-only {
    background-color: #393939;
    border-bottom: 3px solid #6a6865;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input[type="date"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input[type="file"] {
    padding-top: 25px;
    font-size: 0.7rem;
    background-color: white;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input[type="file"],
#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input[type="file"] ~ label {
    color: black;
}

#main-altaDepartamento .form-container #form-altaDepartamento .input-field-container input[type="file"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-altaDepartamento .form-container #form-altaDepartamento .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-altaDepartamento .form-container #form-buttons .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-bajaLogicaDepartamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-bajaLogicaDepartamento .form-container {
    display: block;
    min-width: max-content;
    min-height: min-content;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 50px;
}

#main-bajaLogicaDepartamento .form-container header {
    color: white;
}

#main-bajaLogicaDepartamento .form-container > header > h2 {
    font-size: 2rem;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container {
    position: relative;
    width: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid orange;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input:focus ~ label,
#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input:valid ~ label,
#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input:read-only ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input:read-only,
#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input:read-only ~ label {
    color: #c4c4c4;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input:read-only {
    background-color: #393939;
    border-bottom: 3px solid #6a6865;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input[type="date"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input[type="file"] {
    padding-top: 25px;
    font-size: 0.7rem;
    background-color: white;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input[type="file"],
#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input[type="file"] ~ label {
    color: black;
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .input-field-container input[type="file"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-bajaLogicaDepartamento .form-container #form-bajaLogicaDepartamento .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-bajaLogicaDepartamento .form-container #form-buttons .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-rehabilitacionDepartamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-rehabilitacionDepartamento .form-container {
    display: block;
    min-width: max-content;
    min-height: min-content;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 50px;
}

#main-rehabilitacionDepartamento .form-container header {
    color: white;
}

#main-rehabilitacionDepartamento .form-container > header > h2 {
    font-size: 2rem;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container {
    position: relative;
    width: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid orange;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input:focus ~ label,
#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input:valid ~ label,
#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input:read-only ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input:read-only,
#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input:read-only ~ label {
    color: #c4c4c4;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input:read-only {
    background-color: #393939;
    border-bottom: 3px solid #6a6865;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input[type="date"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input[type="file"] {
    padding-top: 25px;
    font-size: 0.7rem;
    background-color: white;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input[type="file"],
#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input[type="file"] ~ label {
    color: black;
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .input-field-container input[type="file"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-rehabilitacionDepartamento .form-container #form-rehabilitacionDepartamento .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-rehabilitacionDepartamento .form-container #form-buttons .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-eliminarDepartamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-eliminarDepartamento .form-container {
    display: block;
    min-width: max-content;
    min-height: min-content;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 50px;
}

#main-eliminarDepartamento .form-container header {
    color: white;
}

#main-eliminarDepartamento .form-container > header > h2 {
    font-size: 2rem;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container {
    position: relative;
    width: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid orange;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input:focus ~ label,
#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input:valid ~ label,
#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input:read-only ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input:read-only,
#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input:read-only ~ label {
    color: #c4c4c4;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input:read-only {
    background-color: #393939;
    border-bottom: 3px solid #6a6865;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input[type="date"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input[type="file"] {
    padding-top: 25px;
    font-size: 0.7rem;
    background-color: white;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input[type="file"],
#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input[type="file"] ~ label {
    color: black;
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .input-field-container input[type="file"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-eliminarDepartamento .form-container #form-eliminarDepartamento .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-eliminarDepartamento .form-container #form-buttons .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-importarDepartamentos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-importarDepartamentos .form-container {
    display: block;
    min-width: max-content;
    min-height: min-content;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 50px;
}

#main-importarDepartamentos .form-container header {
    color: white;
}

#main-importarDepartamentos .form-container > header > h2 {
    font-size: 2rem;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container {
    position: relative;
    width: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid orange;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input:focus ~ label,
#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input:valid ~ label,
#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input:read-only ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input:read-only,
#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input:read-only ~ label {
    color: #c4c4c4;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input:read-only {
    background-color: #393939;
    border-bottom: 3px solid #6a6865;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input[type="date"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input[type="file"] {
    padding-top: 25px;
    font-size: 0.7rem;
    background-color: white;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input[type="file"],
#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input[type="file"] ~ label {
    color: black;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .input-field-container input[type="file"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .select-field-container {
    width: 314px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .select-field-container label {
    position: absolute;
    left: 15px;
    font-size: 14px;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .select-field-container select {
    width: 100%;
    padding: 15px 20px 3px 30px;
    outline: none;
    margin-left: 0px;
    border: none;
    border-bottom: 3px solid #6a6865;
    border-radius: 5px;
    font-size: 1rem;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .select-field-container select:focus {
    background-color: #dbdbdb;
    border-color: orange;
}

#main-importarDepartamentos .form-container #form-importarDepartamentos .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-importarDepartamentos .form-container #form-buttons .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-exportarDepartamentos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-exportarDepartamentos .form-container {
    display: block;
    min-width: max-content;
    min-height: min-content;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 50px;
}

#main-exportarDepartamentos .form-container header {
    color: white;
}

#main-exportarDepartamentos .form-container > header > h2 {
    font-size: 2rem;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .select-field-container {
    width: 314px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .select-field-container label {
    position: absolute;
    left: 15px;
    font-size: 14px;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .select-field-container select {
    width: 100%;
    padding: 15px 20px 3px 30px;
    outline: none;
    margin-left: 0px;
    border: none;
    border-bottom: 3px solid #6a6865;
    border-radius: 5px;
    font-size: 1rem;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .select-field-container select:focus {
    background-color: #dbdbdb;
    border-color: orange;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container {
    position: relative;
    width: min-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container label {
    position: absolute;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
    pointer-events: none;
    transition: all 0.2s linear;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input {
    width: 314px;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border-bottom: 3px solid #6a6865;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input:focus {
    background-color: #dbdbdb;
    border-bottom: 3px solid orange;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input:focus ~ label,
#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input:valid ~ label,
#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input:read-only ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input:read-only,
#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input:read-only ~ label {
    color: #c4c4c4;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input:read-only {
    background-color: #393939;
    border-bottom: 3px solid #6a6865;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input[type="date"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input[type="file"] {
    padding-top: 25px;
    font-size: 0.7rem;
    background-color: white;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input[type="file"],
#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input[type="file"] ~ label {
    color: black;
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .input-field-container input[type="file"] ~ label {
    font-size: 16px;
    transform: translateY(-20px);
}

#main-exportarDepartamentos .form-container #form-exportarDepartamentos .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

#main-exportarDepartamentos .form-container #form-buttons .form-button {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}
